#topMenu {
  background-color: #204c24;
  color: white !important;
}

.nav-link {
  --bs-nav-link-color: white !important;
  --bs-nav-link-hover-color: grey !important;
}

.middle-section {
  background: url('http://courses.ics.hawaii.edu/ics314f22/morea/ui-frameworks/murphys-new-background.jpeg') no-repeat center fixed;
  background-size: cover;
  min-height: 80vh;
}

.colorblocktop {
  padding-top: calc(100vh / 4);
}

.footer {
  position:fixed;
  background-color: #204c24;
  width: 100%;
  height: auto;
  bottom: 0;
}

h1, p, hr, span {
  color: white !important;
}